# Creating a FAIR Frictionless Data Package of Rose Scent profiles from a publication's supplementary data.

*Philippe Rocca-Serra (philippe.rocca-serra[at]oerc.ox.ac.uk), University of Oxford e-Research Centre

## Background: 

Experimental results such as metabolite profiling data published in [1,2] can be straightfowardly reported using [OKFN Data Packages](https://frictionlessdata.io/specs/tabular-data-package/). Such components can be easily parsed as data frames and exploiting for data visualization purpose using libraries implementing graphical grammar concepts. Here, we show how to use a set of python libraries to create a tabular data package from an excel file, annotate it with ontologies (CHEBI, PO, NCBITax) and validate the results against the JSON definition of the data table.
A few line of codes allow structure information aound key study design descriptors: the independent variables and their levels have been clearly and unambiguously declared in the Tabular Data Package itself.


1. Let's begin by installing the Python packages allowing easy access and use of data formatted as JSON Data Package

In [1]:
import os
import libchebipy
import re
import pandas as pd
from datapackage import Package
from goodtables import validate

2. Reading the data:

We now simply read in the Excel file corresponding to the Nature Genetics Supplementary Table from the Zenodo archive

(DOI: https://doi.org/10.5281/zenodo.2598799)

In [2]:
#df = pd.read_excel('Supplementary Data 3.xlsx', sheet_name='Feuil1')

In [3]:
df = pd.read_excel('https://zenodo.org/api/files/91a610cb-8f1f-4ec5-9818-767a75a7a820/Supplementary%20Data%203.xlsx', sheet_name='Feuil1')

In [4]:
df.head(25)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,NaN,NaN,repeated 3 times,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,fully opened flowers : 1 g petals in 2 mL hexa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,"injection of 2 microL, split 2:1, DB-5 gas chr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,"3 min 40째C, 1.5째C/min until 180째C, 6째C/min unt...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,"ionosing voltage 70eV, mass scan rate 35-450 m...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,Data analysis made with a threshold of 15 to d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,Long chain hydrocarbons are not presented,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,"Compounds determined with Wiley databasee, NIS...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,Results in microg/g fresh weight of petals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,"For Rosa chinensis 'Old Blush', sepals ans sta...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,R. chinensis 'Old Blush' sepals,NaN,R. chinensis 'Old Blush' stamens,NaN,R. chinensis 'Old Blush' petals,NaN,R. gigantea petals,NaN,R. x damascena petals,NaN,R. gallica petals,NaN,R. moschata petals,NaN,R. wichurana petals,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,Compound,Average,Standard Error,Average,Standard Error,Average,Standard Error,Average,Standard Error,Average,Standard Error,Average,Standard Error,Average,Standard error,Average,Standard error
17,NaN,NaN,NaN,hexan-2-ol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.490829,0.245416,NaN,NaN,NaN,NaN,0.0355417,0.0355417
18,NaN,NaN,NaN,hexanal,4.94848,0.588058,0.897499,0.455096,1.59342,0.220036,0.647444,0.0286613,NaN,NaN,NaN,NaN,NaN,NaN,0.178026,0.0897432
19,NaN,NaN,NaN,(E)-2-hexenal,57.616,7.34172,9.41258,1.23027,28.2611,4.93453,1.3526,0.166654,0.223466,0.223466,NaN,NaN,NaN,NaN,1.18431,0.0552462
20,NaN,NaN,NaN,(Z)-3-hexen-1-ol,7.63943,0.631271,5.39481,1.51407,15.1489,2.25769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.65202,0.0413594
21,NaN,NaN,NaN,(E)-2-hexen-1-ol,1.78866,0.976951,NaN,NaN,6.11808,0.877508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,hexan-1-ol,NaN,NaN,NaN,NaN,3.11539,0.378224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,nonane,2.09493,0.0702616,NaN,NaN,NaN,NaN,0.477192,0.266689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,alpha-pinene,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.65196,0.65196,1.01144,0.114528,NaN,NaN,NaN,NaN

3. Following a manual inspection of the Excel Source, getting the start row of the data, we use Pandas take() function to extract first a row of headers (hence -axis set to 0)

In [5]:
header_treatment = df.take([13], axis=0)

4. We then extract all the columns of interest (same take() function, with -axis set to 1)

In [6]:

data_full = df.take([3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], axis=1)
# We now trim by removing the first 15 rows which contain no information
data_slice = data_full.take([16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38,
                             39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61,
                             62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76], axis=0)

5. We now rename the DataFrame automatically generated field header to something more meaningful

In [7]:
data_slice.rename(columns={"Unnamed: 3": "chemical_name",
                           "Unnamed: 4": "sample_mean_1",
                           "Unnamed: 5": "sem_1",
                           "Unnamed: 6": "sample_mean_2",
                           "Unnamed: 7": "sem_2",
                           "Unnamed: 8": "sample_mean_3",
                           "Unnamed: 9": "sem_3",
                           "Unnamed: 10": "sample_mean_4",
                           "Unnamed: 11": "sem_4",
                           "Unnamed: 12": "sample_mean_5",
                           "Unnamed: 13": "sem_5",
                           "Unnamed: 14": "sample_mean_6",
                           "Unnamed: 15": "sem_6",
                           "Unnamed: 16": "sample_mean_7",
                           "Unnamed: 17": "sem_7",
                           "Unnamed: 18": "sample_mean_8",
                           "Unnamed: 19": "sem_8"}, inplace=True)

/Users/philippe/.pyenv/versions/venv372/lib/python3.7/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

6. inserting 2 new fields as placeholders for chemical information descriptors and we reinitialize the dataframe index so row numbering start at 0, not 16

In [8]:
data_slice.insert(loc=1, column='inchi', value='')
data_slice.insert(loc=2, column='chebi_identifier', value='')
data_slice = data_slice.reset_index(drop=True)

7. Using LibChebi to retrieve CHEBI identifiers and InChi from a chemical name. Note: in this call, we retrieve only values for which an exact match on the chemical name is found in Chebi libchebi API does not allow easy searching on synonyms, thus we are failing to retrieve all relevant information. This is merely to showcase how to use libchebi.

In [9]:
for i in range(0, 60):
    hit = libchebipy.search(data_slice.loc[i, 'chemical_name'], True)
    if len(hit) > 0:
        print("HIT: ", data_slice.loc[i, 'chemical_name'], ":", hit[0].get_inchi(), "|", hit[0].get_id())
        data_slice.loc[i, 'inchi'] = hit[0].get_inchi()
        data_slice.loc[i, 'chebi_identifier'] = hit[0].get_id()
    else:
        print("Nothing found: ", data_slice.loc[i, 'chemical_name'])
        data_slice.loc[i, 'inchi'] = ''
        data_slice.loc[i, 'chebi_identifier'] = ''

Nothing found:  Compound
HIT:  hexan-2-ol : InChI=1S/C6H14O/c1-3-4-5-6(2)7/h6-7H,3-5H2,1-2H3 | CHEBI:88370
HIT:  hexanal : InChI=1S/C6H12O/c1-2-3-4-5-6-7/h6H,2-5H2,1H3 | CHEBI:88528
Nothing found:  (E)-2-hexenal
Nothing found:  (Z)-3-hexen-1-ol
Nothing found:  (E)-2-hexen-1-ol
HIT:  hexan-1-ol : InChI=1S/C6H14O/c1-2-3-4-5-6-7/h7H,2-6H2,1H3 | CHEBI:87393
HIT:  nonane : InChI=1S/C9H20/c1-3-5-7-9-8-6-4-2/h3-9H2,1-2H3 | CHEBI:32892
HIT:  alpha-pinene : InChI=1S/C10H16/c1-7-4-5-8-6-9(7)10(8,2)3/h4,8-9H,5-6H2,1-3H3 | CHEBI:36740
HIT:  benzaldehyde : InChI=1S/C7H6O/c8-6-7-4-2-1-3-5-7/h1-6H | CHEBI:17169
HIT:  beta-myrcene : InChI=1S/C10H16/c1-5-10(4)8-6-7-9(2)3/h5,7H,1,4,6,8H2,2-3H3 | CHEBI:17221
Nothing found:  (Z)-3-hexenyl acetate
HIT:  hexyl acetate : InChI=1S/C8H16O2/c1-3-4-5-6-7-10-8(2)9/h3-7H2,1-2H3 | CHEBI:87510
Nothing found:  (E)-hexenyl acetate
Nothing found:  (+/-)-limonene
Nothing found:  benzylalcohol
HIT:  phenylacetaldehyde : InChI=1S/C8H8O/c9-7-6-8-4-2-1-3-5-8/h1-5,7H,6H2 | CHEBI:16424
HIT:  (E)-beta-ocimene : InChI=1S/C10H16/c1-5-10(4)8-6-7-9(2)3/h5,7-8H,1,6H2,2-4H3/b10-8+ | CHEBI:64280
Nothing found:  (+/-)-linalool
HIT:  nonanal : InChI=1S/C9H18O/c1-2-3-4-5-6-7-8-9-10/h9H,2-8H2,1H3 | CHEBI:84268
HIT:  2-phenylethanol : InChI=1S/C8H10O/c9-7-6-8-4-2-1-3-5-8/h1-5,9H,6-7H2 | CHEBI:49000
Nothing found:  (+/-)-beta-citronellal
Nothing found:  (+/-)-alpha-terpineol
HIT:  decanal : InChI=1S/C10H20O/c1-2-3-4-5-6-7-8-9-10-11/h10H,2-9H2,1H3 | CHEBI:31457
HIT:  nerol : InChI=1S/C10H18O/c1-9(2)5-4-6-10(3)7-8-11/h5,7,11H,4,6,8H2,1-3H3/b10-7- | CHEBI:29452
Nothing found:  (+/-)-beta-citronellol
HIT:  neral : InChI=1S/C10H16O/c1-9(2)5-4-6-10(3)7-8-11/h5,7-8H,4,6H2,1-3H3/b10-7- | CHEBI:29020
HIT:  geraniol : InChI=1S/C10H18O/c1-9(2)5-4-6-10(3)7-8-11/h5,7,11H,4,6,8H2,1-3H3/b10-7+ | CHEBI:17447
HIT:  beta-phenylethyl acetate : InChI=1S/C10H12O2/c1-9(11)12-8-7-10-5-3-2-4-6-10/h2-6H,7-8H2,1H3 | CHEBI:31988
HIT:  3,5-dimethoxytoluene : InChI=1S/C9H12O2/c1-7-4-8(10-2)6-9(5-7)11-3/h4-6H,1-3H3 | CHEBI:141217
HIT:  geranial : InChI=1S/C10H16O/c1-9(2)5-4-6-10(3)7-8-11/h5,7-8H,4,6H2,1-3H3/b10-7+ | CHEBI:16980
HIT:  undecanal : InChI=1S/C11H22O/c1-2-3-4-5-6-7-8-9-10-11-12/h11H,2-10H2,1H3 | CHEBI:46202
Nothing found:  theaspirane A
Nothing found:  (+/-)-beta-citronellyl acetate
HIT:  eugenol : InChI=1S/C10H12O2/c1-3-4-8-5-6-9(11)10(7-8)12-2/h3,5-7,11H,1,4H2,2H3 | CHEBI:4917
HIT:  neryl acetate : InChI=1S/C12H20O2/c1-10(2)6-5-7-11(3)8-9-14-12(4)13/h6,8H,5,7,9H2,1-4H3/b11-8- | CHEBI:141210
HIT:  alpha-copaene : InChI=1S/C15H24/c1-9(2)11-7-8-15(4)12-6-5-10(3)14(15)13(11)12/h5,9,11-14H,6-8H2,1-4H3/t11-,12-,13-,14?,15-/m0/s1 | CHEBI:10221
HIT:  geranyl acetate : InChI=1S/C12H20O2/c1-10(2)6-5-7-11(3)8-9-14-12(4)13/h6,8H,5,7,9H2,1-4H3/b11-8+ | CHEBI:5331
HIT:  beta-elemene : None | CHEBI:62854
Nothing found:  methyl eugenol
Nothing found:  (E)-beta-caryophyllene
HIT:  1,3,5-trimethoxybenzene : InChI=1S/C9H12O3/c1-10-7-4-8(11-2)6-9(5-7)12-3/h4-6H,1-3H3 | CHEBI:31038
HIT:  dihydro-beta-ionone : InChI=1S/C13H22O/c1-10-6-5-9-13(3,4)12(10)8-7-11(2)14/h5-9H2,1-4H3 | CHEBI:18015
Nothing found:  alpha guaiene
Nothing found:  dihydro-beta-ionol
Nothing found:  (E)-beta-farnesene
HIT:  germacrene D : InChI=1S/C15H24/c1-12(2)15-10-8-13(3)6-5-7-14(4)9-11-15/h7-8,10,12,15H,3,5-6,9,11H2,1-2,4H3/b10-8+,14-7+ | CHEBI:49045
HIT:  pentadecane : InChI=1S/C15H32/c1-3-5-7-9-11-13-15-14-12-10-8-6-4-2/h3-15H2,1-2H3 | CHEBI:28897
HIT:  (E,E)-alpha-farnesene : InChI=1S/C15H24/c1-6-14(4)10-8-12-15(5)11-7-9-13(2)3/h6,9-10,12H,1,7-8,11H2,2-5H3/b14-10+,15-12+ | CHEBI:10280
HIT:  gamma-cadinene : InChI=1S/C15H24/c1-10(2)13-8-6-12(4)14-7-5-11(3)9-15(13)14/h9-10,13-15H,4-8H2,1-3H3/t13-,14-,15-/m1/s1 | CHEBI:63203
HIT:  delta-cadinene : InChI=1S/C15H24/c1-10(2)13-8-6-12(4)14-7-5-11(3)9-15(13)14/h9-10,13,15H,5-8H2,1-4H3 | CHEBI:140564
HIT:  elemol : InChI=1S/C15H26O/c1-7-15(6)9-8-12(14(4,5)16)10-13(15)11(2)3/h7,12-13,16H,1-2,8-10H2,3-6H3/t12-,13+,15-/m1/s1 | CHEBI:141221
Nothing found:  Germacrene D 4 ol
HIT:  hexadecane : InChI=1S/C16H34/c1-3-5-7-9-11-13-15-16-14-12-10-8-6-4-2/h3-16H2,1-2H3 | CHEBI:45296
HIT:  Tau-cadinol : InChI=1S/C15H26O/c1-10(2)12-7-8-15(4,16)14-6-5-11(3)9-13(12)14/h9-10,12-14,16H,5-8H2,1-4H3/t12-,13-,14+,15-/m0/s1 | CHEBI:138042
HIT:  beta-eudesmol : InChI=1S/C15H26O/c1-11-6-5-8-15(4)9-7-12(10-13(11)15)14(2,3)16/h12-13,16H,1,5-10H2,2-4H3/t12-,13+,15-/m1/s1 | CHEBI:10417
HIT:  alpha-cadinol : InChI=1S/C15H26O/c1-10(2)12-7-8-15(4,16)14-6-5-11(3)9-13(12)14/h9-10,12-14,16H,5-8H2,1-4H3/t12-,13-,14+,15+/m0/s1 | CHEBI:132905
Nothing found:  heptadecene
HIT:  heptadecane : InChI=1S/C17H36/c1-3-5-7-9-11-13-15-17-16-14-12-10-8-6-4-2/h3-17H2,1-2H3 | CHEBI:16148
Nothing found:  (E,E)-farnesol

8. The following steps are needed to perform the table transformation from a 'wide' layout to a 'long table' one. Prep stubnames - pick out all the feature_model variables and remove the model suffices 'long table' layout is that relied on by Frictionless Tabular Data Packages and consumed by R ggplot2 library and Python plotnine library.
Step1: obtain all the different 'dimension' measured for a given condition (i.e. repeating fields with an increment suffix)

In [10]:
feature_models = [col for col in data_slice.columns if re.match("(sample_mean|sem)_[0-9]", col) is not None]
features = list(set([re.sub("_[0-9]", "", feature_model) for feature_model in feature_models]))

9. Step2: invoke Pandas pd.wide_to_long() function to carry out the table transformation. See Pandas documentation for more information:  https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.wide_to_long.html and the excellent blog: https://medium.com/@wangyuw/data-reshaping-with-pandas-explained-80b2f51f88d2

In [11]:
long_df = pd.wide_to_long(data_slice, i=['chemical_name'], j='treatment', stubnames=features, sep="_")

10. Apparently a feature in Pandas DataFrame causes an mismatch in the field position. We solve this by writing the DataFrame to file and reading it back in again, not ideal but it does the trick. Writing to a temporary file &  reading from that file to solve the issue.

In [12]:
long_df.to_csv("long.txt", sep='\t', encoding='utf-8')
long_df_from_file = pd.read_csv("long.txt", sep="\t")
long_df_from_file.head()

try:
    os.remove("long.txt")
except IOError as e:
    print(e)

11. Insert a new field 'unit' in the DataFrame at position 3 and setting value to empty.

In [13]:
long_df_from_file.insert(loc=3, column='unit', value='')

12. Adding new fields for each of the independent variable and associated URI, copying from 'treatment field'

In [14]:
long_df_from_file['var1_levels'] = long_df_from_file['treatment']
long_df_from_file['var1_uri'] = long_df_from_file['treatment']
long_df_from_file['var2_levels'] = long_df_from_file['treatment']
long_df_from_file['var2_uri'] = long_df_from_file['treatment']

In [15]:
# adding a new field for 'sample size' and setting the value to n=3
long_df_from_file['sample_size'] = 3

13. Marking up with ontology terms and their resolvable URI for all factor values. This requires doing a manual mapping, better ways could be devised.

In [16]:
long_df_from_file.loc[long_df_from_file['treatment'] == 1, 'treatment'] = 'R. chinensis \'Old Blush\' sepals'
long_df_from_file.loc[long_df_from_file['var1_levels'] == 1, 'var1_levels'] = 'R. chinensis \'Old Blush\''
long_df_from_file.loc[long_df_from_file['var1_uri'] == 1, 'var1_uri'] = 'http://purl.obolibrary.org/obo/NCBITaxon_74649'
long_df_from_file.loc[long_df_from_file['var2_levels'] == 1, 'var2_levels'] = 'sepals'
long_df_from_file.loc[long_df_from_file['var2_uri'] == 1, 'var2_uri'] = 'http://purl.obolibrary.org/obo/PO_0009031'

long_df_from_file.loc[long_df_from_file['treatment'] == 2, 'treatment'] = 'R. chinensis \'Old Blush\' stamens'
long_df_from_file.loc[long_df_from_file['var1_levels'] == 2, 'var1_levels'] = 'R. chinensis \'Old Blush\''
long_df_from_file.loc[long_df_from_file['var1_uri'] == 2, 'var1_uri'] = 'http://purl.obolibrary.org/obo/NCBITaxon_74649'
long_df_from_file.loc[long_df_from_file['var2_levels'] == 2, 'var2_levels'] = 'stamens'
long_df_from_file.loc[long_df_from_file['var2_uri'] == 2, 'var2_uri'] = 'http://purl.obolibrary.org/obo/PO_0009029'

long_df_from_file.loc[long_df_from_file['treatment'] == 3, 'treatment'] = 'R. chinensis \'Old Blush\' petals'
long_df_from_file.loc[long_df_from_file['var1_levels'] == 3, 'var1_levels'] = 'R. chinensis \'Old Blush\''
long_df_from_file.loc[long_df_from_file['var1_uri'] == 3, 'var1_uri'] = 'http://purl.obolibrary.org/obo/NCBITaxon_74649'
long_df_from_file.loc[long_df_from_file['var2_levels'] == 3, 'var2_levels'] = 'petals'
long_df_from_file.loc[long_df_from_file['var2_uri'] == 3, 'var2_uri'] = 'http://purl.obolibrary.org/obo/PO_0009032'

long_df_from_file.loc[long_df_from_file['treatment'] == 4, 'treatment'] = 'R. gigantea petals'
long_df_from_file.loc[long_df_from_file['var1_levels'] == 4, 'var1_levels'] = 'R. gigantea'
long_df_from_file.loc[long_df_from_file['var1_uri'] == 4, 'var1_uri'] = 'http://purl.obolibrary.org/obo/NCBITaxon_74650'
long_df_from_file.loc[long_df_from_file['var2_levels'] == 4, 'var2_levels'] = 'petals'
long_df_from_file.loc[long_df_from_file['var2_uri'] == 4, 'var2_uri'] = 'http://purl.obolibrary.org/obo/PO_0009032'

long_df_from_file.loc[long_df_from_file['treatment'] == 5, 'treatment'] = 'R. Damascena petals'
long_df_from_file.loc[long_df_from_file['var1_levels'] == 5, 'var1_levels'] = 'R. Damascena'
long_df_from_file.loc[long_df_from_file['var1_uri'] == 5, 'var1_uri'] = 'http://purl.obolibrary.org/obo/NCBITaxon_3765'
long_df_from_file.loc[long_df_from_file['var2_levels'] == 5, 'var2_levels'] = 'petals'
long_df_from_file.loc[long_df_from_file['var2_uri'] == 5, 'var2_uri'] = 'http://purl.obolibrary.org/obo/PO_0009032'

long_df_from_file.loc[long_df_from_file['treatment'] == 6, 'treatment'] = 'R. Gallica petals'
long_df_from_file.loc[long_df_from_file['var1_levels'] == 6, 'var1_levels'] = 'R. Gallica'
long_df_from_file.loc[long_df_from_file['var1_uri'] == 6, 'var1_uri'] = 'http://purl.obolibrary.org/obo/NCBITaxon_74632'
long_df_from_file.loc[long_df_from_file['var2_levels'] == 6, 'var2_levels'] = 'petals'
long_df_from_file.loc[long_df_from_file['var2_uri'] == 6, 'var2_uri'] = 'http://purl.obolibrary.org/obo/PO_0009032'

long_df_from_file.loc[long_df_from_file['treatment'] == 7, 'treatment'] = 'R. moschata petals'
long_df_from_file.loc[long_df_from_file['var1_levels'] == 7, 'var1_levels'] = 'R. moschata'
long_df_from_file.loc[long_df_from_file['var1_uri'] == 7, 'var1_uri'] = 'http://purl.obolibrary.org/obo/NCBITaxon_74646'
long_df_from_file.loc[long_df_from_file['var2_levels'] == 7, 'var2_levels'] = 'petals'
long_df_from_file.loc[long_df_from_file['var2_uri'] == 7, 'var2_uri'] = 'http://purl.obolibrary.org/obo/PO_0009032'

long_df_from_file.loc[long_df_from_file['treatment'] == 8, 'treatment'] = 'R. wichurana petals'
long_df_from_file.loc[long_df_from_file['var1_levels'] == 8, 'var1_levels'] = 'R. wichurana'
long_df_from_file.loc[long_df_from_file['var1_uri'] == 8, 'var1_uri'] = 'http://purl.obolibrary.org/obo/NCBITaxon_2094184'
long_df_from_file.loc[long_df_from_file['var2_levels'] == 8, 'var2_levels'] = 'petals'
long_df_from_file.loc[long_df_from_file['var2_uri'] == 8, 'var2_uri'] = 'http://purl.obolibrary.org/obo/PO_0009032'

14. Dealing with missing values: setting empty values to zero for sample_mean and sem to enable calculation: to do this, we rely on Pandas fillna function.

In [17]:
long_df_from_file['sample_mean'] = long_df_from_file['sample_mean'].fillna("0")
long_df_from_file['sem'] = long_df_from_file['sample_mean'].fillna("0")

15. Reorganizing Columns order in the DataFrame/File to match the Frictionless Tabular Data Package Layout. This is done very easily in Pandas by passing desired column order as an array:

In [18]:
long_df_from_file = long_df_from_file[['chemical_name', 'inchi', 'chebi_identifier', 'var1_levels', 'var1_uri',
                                       'var2_levels', 'var2_uri', 'treatment', 'sample_size', 'sample_mean',
                                       'unit', 'sem']]
long_df_from_file.head()

,chemical_name,inchi,chebi_identifier,var1_levels,var1_uri,var2_levels,var2_uri,treatment,sample_size,sample_mean,unit,sem
0,Compound,NaN,NaN,R. chinensis 'Old Blush',http://purl.obolibrary.org/obo/NCBITaxon_74649,sepals,http://purl.obolibrary.org/obo/PO_0009031,R. chinensis 'Old Blush' sepals,3,Average,,Average
1,hexan-2-ol,"InChI=1S/C6H14O/c1-3-4-5-6(2)7/h6-7H,3-5H2,1-2H3",CHEBI:88370,R. chinensis 'Old Blush',http://purl.obolibrary.org/obo/NCBITaxon_74649,sepals,http://purl.obolibrary.org/obo/PO_0009031,R. chinensis 'Old Blush' sepals,3,0,,0
2,hexanal,"InChI=1S/C6H12O/c1-2-3-4-5-6-7/h6H,2-5H2,1H3",CHEBI:88528,R. chinensis 'Old Blush',http://purl.obolibrary.org/obo/NCBITaxon_74649,sepals,http://purl.obolibrary.org/obo/PO_0009031,R. chinensis 'Old Blush' sepals,3,4.948484238934703,,4.948484238934703
3,(E)-2-hexenal,NaN,NaN,R. chinensis 'Old Blush',http://purl.obolibrary.org/obo/NCBITaxon_74649,sepals,http://purl.obolibrary.org/obo/PO_0009031,R. chinensis 'Old Blush' sepals,3,57.615979379973986,,57.615979379973986
4,(Z)-3-hexen-1-ol,NaN,NaN,R. chinensis 'Old Blush',http://purl.obolibrary.org/obo/NCBITaxon_74649,sepals,http://purl.obolibrary.org/obo/PO_0009031,R. chinensis 'Old Blush' sepals,3,7.639427405845331,,7.639427405845331

16. We are now ready to write the file to disk as a UTF-8 encoded comma delimited file, with double quoted values and we are also dropping the dataframe index from the output.

In [19]:
try:
    HOME=os.getcwd()
    # print("checking current directory #1: ",HOME)

    if not os.path.exists(os.path.join(HOME,'../data/processed/denovo')):
        # print("checking current directory #2: ", os.getcwd())
        os.makedirs(os.path.join(HOME,'../data/processed/denovo'))
        os.chdir(os.path.join(HOME,'../data/processed/denovo'))
        long_df_from_file.to_csv("rose-aroma-naturegenetics2018-treatment-group-mean-sem-report-table-example.csv",
                         quoting=1,
                         doublequote=True, sep=',',
                         encoding='utf-8', index=False)
    else:
        os.chdir(os.path.join(HOME,'../data/processed/denovo'))

except IOError as e:
    print(e)

17. The Final step is to validate the output against JSON data package specifications, which are stored in the JSON Tabular DataPackage Definition folder.

In [20]:
os.chdir('./../../../')
LOCAL = os.getcwd()
print("moving to directory: ", os.getcwd())

moving to directory:  /Users/philippe/Documents/git/rose2018ng-notebook

In [21]:
package_definition = os.path.join(LOCAL,'./rose-metabo-JSON-DP-validated/rose-aroma-naturegenetics2018-treatment-group-mean-sem-report-datapackage.json')
file_to_test = os.path.join(LOCAL,'../data/processed/denovo/rose-aroma-naturegenetics2018-treatment-group-mean-sem-report-table-example.csv')

print ("JSON data package definition:", package_definition)
print("csv file to evaluate:", file_to_test)
try:
    pack = Package(package_definition)
    pack.valid
    pack.errors
    for e in pack.errors:
        print(e)

    report = validate(file_to_test)
    if report['valid']== True:
        print("Success! \n") 
        print("\'"+file_to_test + "\'"+ " is a valid Frictionless Tabular Data Package\n" + "It complies with the 'rose-aroma-naturegenetics2018-treatment-group-mean-sem-report-datapackage.json' definition\n")
    else:
        print("hmmm, something went wrong. Please, see the validation report for tracing the fault")

except IOError as e:
    print(e)

JSON data package definition: /Users/philippe/Documents/git/rose2018ng-notebook/./rose-metabo-JSON-DP-validated/rose-aroma-naturegenetics2018-treatment-group-mean-sem-report-datapackage.json
csv file to evaluate: /Users/philippe/Documents/git/rose2018ng-notebook/../data/processed/denovo/rose-aroma-naturegenetics2018-treatment-group-mean-sem-report-table-example.csv
Success!

'/Users/philippe/Documents/git/rose2018ng-notebook/../data/processed/denovo/rose-aroma-naturegenetics2018-treatment-group-mean-sem-report-table-example.csv' is a valid Frictionless Tabular Data Package
It complies with the 'rose-aroma-naturegenetics2018-treatment-group-mean-sem-report-datapackage.json' definition

18. This concludes this notebook, which showed you how to convert a metabolite profiling dataset from a publication and create a FAIR data package. The other notebooks will show you how to visualize and plot the dataset but also convert it to a semantic graph as a Linked Data representation, query it and plot from it.
    - [1-rose-metabolites-Python-analysis.ipynb](../notebooks/1-rose-metabolites-Python-analysis.ipynb)
    - [2-rose-metabolites-Python-RDF-querying-analysis.ipynb](../notebooks/2-rose-metabolites-Python-RDF-querying-analysis.ipynb)
    
    - [3-rose-metabolites-R-analysis.ipynb](../notebooks/3-rose-metabolites-R-analysis.ipynb) 
    (NB: requires making an R kernel available to Jupyter)

#### Bibliographic Reference:

[1.Magnard JL, Roccia A, Caissard JC, Vergne P, Sun P, Hecquet R, Dubois A, Hibrand-Saint Oyant L, Jullien F, Nicol챔 F, Raymond O, Huguet S, Baltenweck R, Meyer S, Claudel P, Jeauffre J, Rohmer M, Foucher F, Hugueney P, Bendahmane M, Baudino S. PLANT VOLATILES. Biosynthesis of monoterpene scent compounds in roses. Science. 2015 Jul 3;349(6243):81-3.](https://doi.org/10.1126/science.aab0696)

[2.Raymond O, Gouzy J, Just J, Badouin H, Verdenaud M, Lemainque A, Vergne P, Moja S, Choisne N, Pont C, Carr챔re S, Caissard JC, Couloux A, Cottret L, Aury JM, Sz챕csi J, Latrasse D, Madoui MA, Fran챌ois L, Fu X, Yang SH, Dubois A, Piola F, Larrieu A, Perez M, Labadie K, Perrier L, Govetto B, Labrousse Y, Villand P, Bardoux C, Boltz V, Lopez-Roques C, Heitzler P, Vernoux T, Vandenbussche M, Quesneville H, Boualem A, Bendahmane A, Liu C, Le Bris M, Salse J, Baudino S, Benhamed M, Wincker P, Bendahmane M. The Rosa genome provides new insights into the domestication of modern roses. Nat Genet. 2018 Jun;50(6):772-777.](https://doi.org/10.1038/s41588-018-0110-3)